# Mailtrap SMTP Configuration
# Sign up at https://mailtrap.io to get your credentials
MAILTRAP_HOST=bulk.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USER=your_mailtrap_username
MAILTRAP_PASS=your_mailtrap_password